<footer>
<a href="#">Go back to start</a>

  <p>HOW TO CONTACT US</p>
<p>
Match ticket and Season Ticket sales and enquiries

+44 161 868 8000
                <br/>e-mail: <a href="mailto:membership@manutd.co.uk">membership@manutd.co.uk</a>
                <br/>Old trafford,London
            </p>
<p>Final pagina</p>
</footer>