<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>

	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/stil.css">
</head>
<body class="container">
<!-- cod ejs -->
<!-- cand pun - spun ca sirul respectiv sa aiba tagurile interpretate ca taguri -->
<%- include("../fragmente/header")  %> <!-- extensia nu e necesara -->
<main>
   <p>404 - nu s-a gasit ce cautai :(</p>
   
   <img src="/images/sorry.jpg" alt=" MUFC" >
</main>
<%- include("../fragmente/footer")  %> <!-- extensia nu e necesara -->

</body>
</html>  
