<!DOCTYPE html>
<html lang="en">
  <head>

<link rel="shortcut icon" type="image/x-icon" href="/images/flavicon.ico"/>

<title> Manchester United Football Club players</title>
<meta charset="UTF-8">
<meta name="description" content="Mancheste United full squad, players, manager">
  <meta name="keywords" content="Players,Martial,Rashford,DDG">
  <meta name="author" content="Alexandru Mihai">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/stil.css">

</head>



<body>



<header>

<%- include("../fragmente/header")  %> 
</header>

<main>

<h1>  Manchester United Football Club <img src="/images/1.jpg" id="MU" alt="MU" ></h1>

<section>
<h2><i>Manchester United Players</i></h2>

 <button id="ButonImagini" onclick="afiseaza()"> ascunde imagini </button>
 <script src="js/ascunde_imagini.js"> </script>

<section id="g">
<h2 ><i>Goalkeepers </i></h2>
<div class="galerie">
<div>
<img src="/images/16.jpg" alt="MU " >
</div>
<div>
<img src="/images/17.jpg" alt=" MU" >
</div>
<div>
<img src="/images/18.jpg" alt=" MU" >
</div>
</div>
</section>


<section id="d">


<h2 ><i>Defenders </i></h2>
<div class="galerie">
<div>
<img src="/images/19.jpg" alt="MUFC " >
</div>
<div>
<img src="/images/20.jpg" alt=" MUFC" >
</div>
<div>
<img src="/images/21.jpg" alt="Harry " >
</div>
<div>
<img src="/images/22.jpg" alt="MU " >
</div>
</div>
</section>


<section id="m">
<h2 ><i>Midfielders </i></h2>
<div class="galerie">
<div>
<img src="/images/23.jpg" alt="MUFC ">
</div>
<div>
<img src="/images/24.jpg" alt=" MUFC" >
</div>
<div>
<img src="/images/25.jpg" alt="MUFC " >
</div>
<div>
<img src="/images/26.jpg" alt="MUFC ">
</div>
</div>
</section>



<section id="a">
<h2 ><i>Attackers</i> </h2>
<div class="galerie">
<div>
<img src="/images/27.jpg" alt="MUFC ">
</div>
<div>
<img src="/images/28.jpg" alt=" MUFC" >
</div>

<div>
<img src="/images/29.jpg" alt="MUFC " >
</div>
<div>
<img src="/images/30.jpg" alt="MUFC " >
</div>
</div>
</section>



<section id="Man">
<h2 ><i>Manager</i></h2>
<div class="galerie">
<div>
<a href="https://s.hs-data.com/bilder/spieler/gross/2471.jpg">
<img src="/images/31.jpg" alt="MUFC " >
</a>
</div>
</div>
</section>
</section>

<h2>Manchester United official sponsors:</h2>
<div class="flex-container">

  <div>ADIDAS</div>
  <div>CHEVROLET</div>
  <div>AON</div>  
  <div>KOHLER</div>
  <div>AEROFLOT</div>
  <div>CASILLERO</div>  
  <div>CHIVAS</div>
  <div>DHL</div>
  <div>KONAMI</div>
</div>


</main>


<footer id="footer">
  <%- include("../fragmente/footer")  %> 
</footer>
</body>

</html>
